.wrapper {
  width: 980px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}

body {
  font-family: PT Sans;
  font-size: 14px;
  line-height: 22px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html,
body {
  height: 100%;
}
.main-wrapper {
  position: relative;
  min-height: 100%;
}

.footer {

}
